<div class="well"> 
<P> Your monthly payment of US 200.00 is due on May 1 
<script src="assets/paypal-button.min.js?merchant=qingfenglin-facilitator@gmail.com" 
    data-button="subscribe" 
    data-name="Kumon Monthly Service" 
    data-amount="200.00" 
    data-recurrence="1" 
    data-period="M" 
    data-callback="http://localhost:3000/paypal_callback" 
    data-env="sandbox"
></script>
</div>

