<% provide(:title, 'All accounts') %>
<h1>All accounts</h1>

<%= will_paginate %>

<div class="well">
<table border="1">
	
   <td> User ID </td>
   <td> Student Name </td>
   <td> Parent/Guardian Name </td>

  <%= render @accounts %>
</table>
</div>
<%= will_paginate %>